{% extends 'base.html' %}
{% load static %}
{% block content %}

<section
class="section section-lg bg-default text-center novi-bg novi-bg-img" id="Gallery">
<div class="container-wide">
  <h3>Album Gallery</h3>
  <div class="divider divider-default"></div>
  <div class="isotope-wrap row row-0 row-md-30">
    <div class="col-xl-12">
      <!-- Isotope Filters-->

      <!-- Isotope Content-->
      <div class="row row-30 isotope" data-isotope-layout="masonry"
        style="position: relative; height: 415.7px;">
        <div class="col-1 isotope-item isotope-sizer"
          style="position: absolute; left: 0px; top: 0px;"></div>
        {% for x in gallery %}
        <div class="col-12 col-md-6 col-lg-4 isotope-item">
          <ul class="lightgallery-album">
            <li>
              <div class="gallery-item gallery-album-item">
                <div class="gallery-item-image">
                  <figure><img src="{{x.image.url}}" alt width="570"
                      style="max-height:440px ; ">
                  </figure>
                  <div class="caption">

                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        {%endfor%}

      </div>
    </div>
  
  </div>
</div>
</section>


<br>
<br>
<br>

{% endblock %}