{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section section-lg bg-gray-lighter">
    <div class="container container-bigger">
      <div
        class="row row-ten row-50 justify-content-md-center align-items-lg-center flex-xl-row-reverse justify-content-xl-between">
        <div class="col-md-9 col-lg-5 col-xxl-4 text-gray-light">
          <h3>Reset new password</h3>
          <div class="divider divider-default"></div>
          
      </div>
      <div class="row justify-content-sm-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <!-- RD Mailform-->
            <form class="rd-mailform rd-mailform-small" method="post" action="{% url 'users:password_change' %}">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-wrap form-wrap-validation has-error">
                    <input
                        type="{% if field.name == 'password1'%}password{% elif field.name == 'password2'%}password{% elif field.name == 'email' %}email{% else %}text{% endif %}"
                        class="form-input form-control-has-validation" placeholder="Enter {{ field.name }}"
                        name="{{ field.name }}">

                    <strong style="color: #d9534f;">{{ field.errors }}</strong>
                </div>

                {% endfor %}
               
                <div class="form-button">
                    <button class="button button-block button-secondary button-nina" type="submit">Signup</button>
                </div>
            </form>
        </div>
    </div>


    </div>
  </div>
</section>

{%endblock%}